<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roast&Run</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/logo_all_black_small.svg"/>
</head>
<body>
    <div class="wrapper">
        <header class="header header-main">
            <div class="container">
                <div class="header__inner">
                    <a href=/ class="logo">
                        <img src="../static/images/logo_all_black_small.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href=/aboutus class="menu__list-link">
                                    Компания
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/coffee-menu class="menu__list-link">
                                    Меню
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/specials class="menu__list-link">
                                    Акции
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Франшиза
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/bartenders class="menu__list-link">
                                    Работа
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <a href=/login class="menu__list-link">
                        <img src="../static/images/profile-img.svg" alt="" class="profile-logo__img">
                    </a>

                </div>
            </div>
        </header>


        <main class="main">
            <section class="page barista product" >
                <section class="top-banner" style="max-height: 100%; background: url(../static/images/slider/slide-3.jpg) 50% 50% no-repeat;">
                    <div class="container-upgrade">
                        <div class="top-banner__wrap">
                            <div class="top-banner__content">
                                <h1 class="top-banner__main-title">Show up with</h1>
                                <a class="top-banner__title top-banner__title_desc" href="#">
                                    <img src="../static/images/logo_all_black_big.svg" style="filter: invert(100%);" alt="image">
                                </a>
                                <a class="top-banner__title top-banner__title_mob" href="#">
                                    <img src="../static/images/logo_all_black_big.svg" style="filter: invert(100%);" alt="image">
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section">
                <div class="block-scroll">
                    <div class="block-scroll__items">
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-1.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">ТОП 10</div>
                                <div class="block-scroll__text">Попадание в 10-ку лучших стартапов малого предпринимательства по мнению Forbes в 2015г.</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-2.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">1 место</div>
                                <div class="block-scroll__text">Шеф-бариста Сети Юрий Фомин получил Национальную премию «Бариста года 2018»</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-3.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">РАФ 2018г</div>
                                <div class="block-scroll__text">получение сертификата РАФ — Российской Ассоциации Франчайзинга. </div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-4.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">40% рынка</div>
                                <div class="block-scroll__text">в сегменте "кофе с собой" в 2018г по данным Discovery Research Group. </div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-5.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">SCA 2018</div>
                                <div class="block-scroll__text">Roast&Run вступил в SCA — международное сообщество профессионалов в области кофе.</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-6.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">3 место</div>
                                <div class="block-scroll__text">и приз зрительских симпатий на Russian Coffee Cup 2019.</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-7.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">8 место</div>
                                <div class="block-scroll__text">в рейтинге ритейл-франшиз за 2022 год по данным Компании EMTG.</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-8.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">2 млн</div>
                                <div class="block-scroll__text">пользователей в программе лояльности Roast&Run</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-9.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">10 лет</div>
                                <div class="block-scroll__text">компании в 2023 году</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-10.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">100 кофе баров</div>
                                <div class="block-scroll__text">у самого крупного партнера-франчайзи сети Roast&Run.</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-11.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">1000 кофе баров</div>
                                <div class="block-scroll__text">в сети Roast&Run</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-12.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">№ 1</div>
                                <div class="block-scroll__text">По данным рейтинга BuyBrand и Коммерсантъ в 2023 году.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                <section class="section">
                    <div class="container-upgrade">
                        <div class="product__item">
                            <div class="barista__title"><span style="color: #38220f">В нашей команде</span> ты получишь</div>
                            <div class="product__wrap">
                                <div class="product__image"> <img src="../static/images/bartenders/barista-1.png" alt="image"></div>
                                <div class="product__content">
                                    <div class="product__text">
                                        <p class="product__text-text"> 
                                            Бариста Roast&Run — лицо бренда. Поэтому мы инвестируем в специалистов через обучение, мотивацию и стимулирование. Мы учитываем возможности, мечты и желания каждого. Наше правило: работать по принципу «мне нравится», а не «потому что надо». Мы стремимся к результату через решение личных проблем, развитие и самореализацию.
                                        </p>
                                    </div>
                                    <div class="product__text">
                                        <ol class="number-list">
                                            <li>Официальное трудоустройство.</li>
                                            <li>Гибкий график.</li>
                                            <li>Работа рядом с домом или учебой.</li>
                                            <li>Реальная возможность карьерного роста.</li>
                                            <li>Команда единомышленников.</li>
                                            <li>Доступ к электронной «Базе знаний» и онлайн-обучению.</li>
                                        </ol>
                                    </div>
                                    <a class="button_bartheders button__coffee button-scroll-js" href="#form-iframe">
                                        <span>Заполнить форму</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product__item">
                            <div class="barista__title">Описание вакансии</div>
                            <div class="product__wrap">
                                <div class="product__content">
                                    <div class="product__text">
                                        <p class="product__text-text">
                                            Профессия бариста престижна и востребована во всем мире. Это чистая романтика. Судите сами – чемпионаты, кубки, путешествия. Вся эта творческая и богатая среда, безусловно, привлекательна и вдохновляет. С нами вы испытаете все это на себе.
                                        </p>
                                    </div>
                                    <div class="product__text"><span><b>Что вы будете делать:</b></span>
                                        <ul class="list list_dash">
                                            <li class="list__item">– Готовить напитки по классическим и уникальным рецептам;</li>
                                            <li class="list__item">– Общаться с гостями кафе-бара, помогать им выбрать напиток;</li>
                                            <li class="list__item">– Поддерживать чистоту на рабочем месте;</li>
                                            <li class="list__item">– Работать с кассовым аппаратом;</li>
                                        </ul>
                                    </div>
                                    <div class="product__text"><span><b>Нам нужен человек:</b></span>
                                        <ul class="list list_dash">
                                            <li class="list__item">– Коммуникабельный, с грамотной речью;</li>
                                            <li class="list__item">– Очаровательный и харизматичный;</li>
                                            <li class="list__item">– Аккуратный и чистоплотный;</li>
                                            <li class="list__item">– Ответственный;</li>
                                            <li class="list__item">– Инициативный;</li>
                                            <li class="list__item">– Желающий развиваться и двигаться вперед!</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product__image"> <img src="../static/images/bartenders/bartender-2.png" alt="image"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <div id="block765" class="block-wrapper block-html">
                    <section class="landing-block g-pt-0 g-pb-0 g-pr-0 g-pl-auto">
                        <iframe id="form-iframe" src="https://docs.google.com/forms/d/e/1FAIpQLSeLEKDwyx8MpG-uS5Wl_gFvRvd3Go1F6BWG-G2C56r-TLPo-g/viewform?embedded=true" width="100%" height="1800" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
                    </section>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Продукты
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/coffee-menu class="footer__menu-link">
                                Кофе
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/specials class="footer__menu-link">
                                Предложения
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Ресурсы
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Блог
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/faq class="footer__menu-link">
                                FAQ
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/contact class="footer__menu-link">
                                Связаться с нами
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Работать с нами
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Франшиза
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/bartenders class="footer__menu-link">
                                Бариста
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                О Roast&Run
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/aboutus class="footer__menu-link">
                                О нас
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=# class="footer__menu-link">
                                Команда
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Карьера
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="../static/images/appstore.svg" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="../static/images/googleplay.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p style="padding-bottom: 25px;" class="footer__copy-text">
                        По вопросам об услуге покупки кофе Roast&Run звоните по телефону 1-888-878-3227. Сертифицированные бариста по контракту обязаны с Roast&Run выполнять определенные требования по обслуживанию клиентов и проходить программу сертификации бариста Roast&Run.
                    </p>
                    <p class="footer__copy-text">
                        Roast&Run не занимается брокерской деятельностью, продажей и арендой кофейных зерен. Если не указано иное, все напитки, представленные на этом сайте, предлагаются для продажи в лицензированных кофейнях. Все напитки подлежат предварительной продаже. Заходя на этот веб-сайт, вы соглашаетесь с Условиями обслуживания и Политикой конфиденциальности Roast&Run.
                    </p>
                </div>
                <nav style="padding-bottom: 25px;" class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href=/terms-of-service class="copy__nav-link">
                                Условия использования
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href=/privacy-policy class="copy__nav-link slide-out">
                                Политика конфиденциальности
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href=/cookies class="copy__nav-link">
                                Не продавайте мою личную информацию
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
</body>
</html>