<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roast&Run</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href=/ class="logo">
                        <img src="../static/images/logo_all_black_small.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href=/aboutus class="menu__list-link">
                                    Компания
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/coffee-menu class="menu__list-link">
                                    Меню
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/specials class="menu__list-link">
                                    Акции
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Франшиза
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/bartenders class="menu__list-link">
                                    Работа
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <a href=/logout class="logo">
                        <img src="../static/images/door.svg" alt="" class="profile-logo__img">
                    </a>

                </div>
            </div>
        </header>


        <main class="main">
            <div class="content grey" style="min-height: calc(-656.8px + 100vh);">
                <div class="row">
                    <div class="title-wrap flex" style="padding-bottom:30px;">
                        <h2 class="indent">Личный кабинет</h2>
                    </div>

                     <div class="menuLink-wrap verticalScroll pb-0">

                        <ul class="menuLink mb-0">
                            <li class="tab_profile active"><a href="#menuLink-wrap" onclick="openbox('tabProf', this); return false" rel="nofollow">Мой профиль</a></li>
                            <li class="tab_profile"><a href="#menuLink-wrap" onclick="openbox('tabInfo', this); return false" rel="nofollow">Личные данные</a></li>
                        </ul>


                    </div>
                </div>

                <div id="tabProf" class="profileBox tabs-content__profile" style="display:block;">
                    <div class="row">
                        <div class="d-flex">
                            {% for key, value in json_data.items() %}
                            <!--{% for user_info in value %}-->
                            {% if value|length == 1 and 'fullname' in value[0] %}
                            <div class="sidebar">
                                <div class="wrapper">
                                    <div class="user">
                                    <div class="text-wrap mb-2 pb-1">
                                        <p class="name" style="font-size: 20px;"> {{ user_info['fullname']  }} </p>
                                    </div>

                                    </div>
                                    <div class="status">
                                        <p class="level ">{{ user_info['rang'] }}</p>
                                        <button id="level-info-btn" type="button" class="tip-ic"><img src="../static/images/question-mark.svg" style="width: 15px; height: 15px;" alt=""></button>
                                        <div id="level-info-label" class="tip">
                                            <p>Статусы позволяют выделять ответы и комментарии тех пользователей на сайте, которые имеют разный опыт:</p>
                                            <p><strong>Новичок</strong> — с первого дня регистрации на сайте</p>
                                            <p><strong>Любитель</strong> — 5+ отзывов/комментариев/постов на сайте, 5+ заказов, 10+ прочитанных статей</p>
                                            <p><strong>Продвинутый</strong> — 15+ отзывов/комментариев/постов на сайте, 10+ заказов, 10+ прочитанных статей</p>
                                            <p><strong>Эксперт</strong> — 30+ отзывов/комментариев/постов на сайте, 15+ заказов, 30+ прочитанных статей, 20+ попробованных сортов</p>
                                        </div>
                                        <div class="scale">
                                            <span style="width: 25%"></span>
                                        </div>
                                        {% if user_info['rang'] == 'Новичок' %}
                                        <div class="purpose">
                                            <p class="text">Для повышения уровня осталось:</p>
                                            <p class="text">
                                                <span><b>{{ 5 - user_info['order_count'] }}</b> заказов</span>
                                                <span><b>{{ 5 - user_info['comment_count'] }}</b> отзывов/комментариев/постов</span>
                                            </p>
                                        </div>
                                        {% endif %}
                                        {% if user_info['rang'] == 'Любитель' %}
                                        <div class="purpose">
                                            <p class="text">Для повышения уровня осталось:</p>
                                            <p class="text">
                                                <span><b>{{ 15 - user_info['order_count'] }}</b> заказов</span>
                                                <span><b>{{ 15 - user_info['comment_count'] }}</b> отзывов/комментариев/постов</span>
                                            </p>
                                        </div>
                                        {% endif %}
                                        {% if user_info['rang'] == 'Продвинутый' %}
                                        <div class="purpose">
                                            <p class="text">Для повышения уровня осталось:</p>
                                            <p class="text">
                                                <span><b>{{ 30 - user_info['order_count'] }}</b> заказов</span>
                                                <span><b>{{ 30 - user_info['comment_count'] }}</b> отзывов/комментариев/постов</span>
                                            </p>
                                        </div>
                                        {% endif %}
                                        {% if user_info['rang'] == 'Эксперт' %}
                                        <div class="purpose">
                                            <p class="text">Вы являетесь обладателем самого высокого уровня Roast&Run, поздравляем вас!</p>

                                        </div>
                                        {% endif %}
                                    </div>
                                    <ul class="listInfo">
                                        <li>
                                            <p class="text">
                                                <img class="ic_finished_orders" src="../static/images/coffee-cup.svg" style="width: 30px; height: 30px;" alt="">
                                                Оформлено заказов:
                                            </p>
                                            <p class="number">{{ user_info['order_count'] }}</p>
                                        </li>

                                        <li>
                                            <p class="text">
                                                <img class="ic_finished_orders" src="../static/images/coffee-bean.svg" style="width: 30px; height: 30px;" alt="">
                                                Попробовал разных кофе:
                                            </p>
                                            <p class="number"> {{ user_info['unique_coffee_count'] }} </p>
                                        </li>
                                        <li>
                                            <p class="text">
                                                <img class="ic_finished_orders" src="../static/images/star.svg" style="width: 30px; height: 30px;" alt="">
                                                Средняя оценка за кофе:
                                            </p>
                                            <p class="number">{{ user_info['average_points'] }}</p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            <!--{% endfor %}-->
                            {% endfor %}


                            <div class="sidebar">
                                <div class="wrapper">
                                    <div class="user">
                                       <h2 style="font-size: 26px; padding-bottom: 20px;">История заказов</h2>
                                        {% for order_id, items in json_data.items() %}
                                        {% if 'ID' in items[0] %}
                                        <div class="order-history__block">
                                            <ul class="order-history__list">
                                                <li class="order-history__list-item">
                                                    <h4 class="section-title order-list__title__small">
                                                        Заказ № {{ order_id }}
                                                    </h4>
                                                    <ul class="coffee-order__list">
                                                        {% for item in items %}
                                                        <li class="coffee-order__list-item" style="    padding-bottom: 15px;">
                                                            <p style="max-width: 250px;">
                                                                <img class="ic_finished_orders" src="../static/images/coffee-bean.svg" style="width: 30px; height: 30px;" alt="">
                                                                {{ item.get('name', 'N/A') }}
                                                            </p>
                                                            <p>{{ item.get('price', 'N/A') }} <span class="rub" style="display: inline-block"> ₽ </span></p>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>

                                                    <ul class="information-order__list">
                                                        <li class="information-order__list-item" >
                                                            <p>
                                                                <img class="ic_finished_orders" src="../static/images/calendar.svg" style="width: 30px; height: 30px;" alt="">
                                                                Дата:
                                                            </p>
                                                            <p>{{ items[0].get('date', 'N/A')[9:] }}</p>
                                                        </li>
                                                        <li class="information-order__list-item">
                                                            <p>
                                                                <img class="ic_finished_orders" src="../static/images/star.svg" style="width: 30px; height: 30px;" alt="">
                                                                Оценка:
                                                            </p>
                                                            <p>{{ items[0].get('stars', 'N/A') }}</p>
                                                        </li>
                                                        <li class="information-order__list-item">
                                                            <p>
                                                                <img class="ic_finished_orders" src="../static/images/coin.svg" style="width: 30px; height: 30px;" alt="">
                                                                Общая сумма:</p>
                                                            <p>
                                                                {% set total_price = items | map(attribute='price') | sum %}
                                                                {{ total_price | round(1) }} <span class="rub" style="display: inline-block"> ₽ </span>
                                                            </p>
                                                        </li>
                                                    </ul>
<!--
                                                    <p class="important__item-text">
                                                        Take another coffee!
                                                    </p>
-->
                                                </li>
                                            </ul>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div id="tabInfo" class="profileBox tabs-content__profile" style="display: none;">
                    <div class="row">
                        <div class="d-flex">
                            {% for key, value in json_data.items() %}
                            {% for user_info in value %}
                            {% if value|length == 1 and 'fullname' in value[0] %}
                            <div class="sidebar">
                                <div class="wrapper">
                                    <div class="user">
                                        <div class="text-wrap mb-2 pb-1">
                                            <p class="name" style="font-size: 20px;"> {{ user_info['fullname']  }} </p>
                                        </div>
                                    </div>
                                    <div class="status">
                                        <p class="level ">{{ user_info['rang'] }}</p>
                                        <button id="level-info-btn-2" type="button" class="tip-ic"><img src="../static/images/question-mark.svg" style="width: 15px; height: 15px;" alt=""></button>
                                        <div id="level-info-label-2" class="tip">
                                            <p>Статусы позволяют выделять ответы и комментарии тех пользователей на сайте, которые имеют разный опыт:</p>
                                            <p><strong>Новичок</strong> — с первого дня регистрации на сайте</p>
                                            <p><strong>Любитель</strong> — 5+ отзывов/комментариев/постов на сайте, 5+ заказов, 10+ прочитанных статей</p>
                                            <p><strong>Продвинутый</strong> — 15+ отзывов/комментариев/постов на сайте, 10+ заказов, 10+ прочитанных статей</p>
                                            <p><strong>Эксперт</strong> — 30+ отзывов/комментариев/постов на сайте, 15+ заказов, 30+ прочитанных статей, 20+ попробованных сортов</p>
                                        </div>
                                        <div class="scale">
                                            <span style="width: 25%"></span>
                                        </div>
                                        {% if user_info['rang'] == 'Новичок' %}
                                        <div class="purpose">
                                            <p class="text">Для повышения уровня осталось:</p>
                                            <p class="text">
                                                <span><b>{{ 5 - user_info['order_count'] }}</b> заказов</span>
                                                <span><b>{{ 5 - user_info['comment_count'] }}</b> отзывов/комментариев/постов</span>
                                            </p>
                                        </div>
                                        {% endif %}
                                        {% if user_info['rang'] == 'Любитель' %}
                                        <div class="purpose">
                                            <p class="text">Для повышения уровня осталось:</p>
                                            <p class="text">
                                                <span><b>{{ 15 - user_info['order_count'] }}</b> заказов</span>
                                                <span><b>{{ 15 - user_info['comment_count'] }}</b> отзывов/комментариев/постов</span>
                                            </p>
                                        </div>
                                        {% endif %}
                                        {% if user_info['rang'] == 'Продвинутый' %}
                                        <div class="purpose">
                                            <p class="text">Для повышения уровня осталось:</p>
                                            <p class="text">
                                                <span><b>{{ 30 - user_info['order_count'] }}</b> заказов</span>
                                                <span><b>{{ 30 - user_info['comment_count'] }}</b> отзывов/комментариев/постов</span>
                                            </p>
                                        </div>
                                        {% endif %}
                                        {% if user_info['rang'] == 'Эксперт' %}
                                        <div class="purpose">
                                            <p class="text">Вы являетесь обладателем самого высокого уровня Roast&Run, поздравляем вас!</p>

                                        </div>
                                        {% endif %}
                                    </div>

                                    <ul class="listInfo">
                                        <li>
                                            <p class="text">
                                                <img class="ic_finished_orders" src="../static/images/coffee-cup.svg" style="width: 30px; height: 30px;" alt="">
                                                Оформлено заказов:
                                            </p>
                                            <p class="number">{{ user_info['order_count'] }}</p>
                                        </li>

                                        <li>
                                            <p class="text">
                                                <img class="ic_finished_orders" src="../static/images/coffee-bean.svg" style="width: 30px; height: 30px;" alt="">
                                                Попробовал разных кофе:
                                            </p>
                                            <p class="number"> {{ user_info['unique_coffee_count'] }} </p>
                                        </li>
                                        <li>
                                            <p class="text">
                                                <img class="ic_finished_orders" src="../static/images/star.svg" style="width: 30px; height: 30px;" alt="">
                                                Средняя оценка за кофе:
                                            </p>
                                            <p class="number">{{ user_info['average_points'] }}</p>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}

                            {% for key, value in json_data.items() %}
                            {% for user_info in value %}
                            {% if value|length == 1 and 'fullname' in value[0] %}
                            <div class="sidebar">
                                <div class="wrapper">
                                    <div class="user user-info">
                                        <div class="dataLk">
                                            <div id="userAvatar-block">
                                                <a href="#" class="userAvatar-wrap" data-modal-open="avatar">
                                                    <span class="no_img">{{user_info['fullname'][0]}}</span>
                                                </a>
                                                <h3 class="nameLk">{{user_info['fullname']}}</h3>
                                                <div class="userAvatar-buttons ">
                                                    <a href="#" data-modal-open="avatar">Поменять фото профиля</a>
                                                </div>
                                            </div>
                                            <div class="dataLk-b">
                                                <p><i class="icon"><span><img src="../static/images/mobile-phone.svg" alt="" style="margin: 0px 0px;"></span></i>{{user_info['number']}}</p>
                                                <p><i class="icon"><span><img src="../static/images/e-mail.svg" alt="" style="margin: 0px 0px;"></span></i>{{user_info['email']}}</p>
                                            </div>
                                            <form action="" method="post" class="editData editData-form" id="edit_account">
                                                <h4 style="padding-bottom: 20px;">Редактировать данные</h4>
                                                <div class="row-wrap">
                                                    <div class="col-v5 col-p10">
                                                        <div class="input-wrap">
                                                            <input class="suggestions-input" name="full_name" placeholder="Имя и Фамилия" value="{{user_info['fullname']}}" type="text" id="full_name" autocomplete="nope" autocorrect="off" autocapitalize="off" spellcheck="false" style="box-sizing: border-box;">
                                                        </div>
                                                        <div class="input-wrap">
                                                            <input class="suggestions-input" name="phone" placeholder="Телефон" value="{{user_info['number']}}" type="text">
                                                        </div>
                                                        <div class="input-wrap">
                                                            <input class="suggestions-input" id="emailInput" type="email" placeholder="E-mail" name="email" value="{{user_info['email']}}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="blackBtn" id="submit-update-account">Сохранить</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Продукты
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/coffee-menu class="footer__menu-link">
                                Кофе
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/specials class="footer__menu-link">
                                Предложения
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Ресурсы
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Блог
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/faq class="footer__menu-link">
                                FAQ
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/contact class="footer__menu-link">
                                Связаться с нами
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Работать с нами
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Франшиза
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/bartenders class="footer__menu-link">
                                Бариста
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                О Roast&Run
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/aboutus class="footer__menu-link">
                                О нас
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=# class="footer__menu-link">
                                Команда
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Карьера
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="../static/images/appstore.svg" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="../static/images/googleplay.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p style="padding-bottom: 25px;" class="footer__copy-text">
                        По вопросам об услуге покупки кофе Roast&Run звоните по телефону 1-888-878-3227. Сертифицированные бариста по контракту обязаны с Roast&Run выполнять определенные требования по обслуживанию клиентов и проходить программу сертификации бариста Roast&Run.
                    </p>
                    <p class="footer__copy-text">
                        Roast&Run не занимается брокерской деятельностью, продажей и арендой кофейных зерен. Если не указано иное, все напитки, представленные на этом сайте, предлагаются для продажи в лицензированных кофейнях. Все напитки подлежат предварительной продаже. Заходя на этот веб-сайт, вы соглашаетесь с Условиями обслуживания и Политикой конфиденциальности Roast&Run.
                    </p>
                </div>
                <nav style="padding-bottom: 25px;" class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href=/terms-of-service class="copy__nav-link">
                                Условия использования
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href=/privacy-policy class="copy__nav-link slide-out">
                                Политика конфиденциальности
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href=/cookies class="copy__nav-link">
                                Не продавайте мою личную информацию
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>

    <script src="../static/js/profile-level-info.js"></script>
    <script src="../static/js/profile-item-info-switcher.js"></script>

</body>
</html>