<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roast&Run</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/logo_all_black_small.svg"/>
</head>
<body>
    <div class="wrapper">
        <header class="header header-main" style="filter: invert(100%);">
            <div class="container">
                <div class="header__inner">
                    <a href=/ class="logo">
                        <img src="../static/images/logo_all_black_small.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href=/aboutus class="menu__list-link">
                                    Компания
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/coffee-menu class="menu__list-link">
                                    Меню
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/specials class="menu__list-link">
                                    Акции
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Франшиза
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/bartenders class="menu__list-link">
                                    Работа
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <a href=/login class="menu__list-link">
                        <img src="../static/images/profile-img.svg" alt="" class="profile-logo__img">
                    </a>
                </div>
            </div>
        </header>


        <main class="main">
            {% for item in json_data['drink-page'] %}
            <section class="page drink-card">
                <div class="container-upgrade">
                    <div class="drink-card__wrap">
                        <div class="drink-card__image"> <div class="scale"><img src="{{ item['photo_path'] }}" alt="image"></div></div>
                            <div class="drink-card__content">
                                <ul class="breadcrumbs">
                                    {% if item['type'] == 'Весна-Лето 2024' %}
                                        <li class="breadcrumbs__item"><a href=/coffee-menu#category-47>Меню</a></li>
                                        <li class="breadcrumbs__item -active">Лето-Осень 2025</li>
                                    {% elif item['type'] == 'Любимые напитки 2023' %}
                                        <li class="breadcrumbs__item"><a href=/coffee-menu#category-40>Меню</a></li>
                                        <li class="breadcrumbs__item -active">Любимые напитки 2025</li>
                                    {% elif item['type'] == 'Авторские чаи' %}
                                        <li class="breadcrumbs__item"><a href=/coffee-menu#category-44>Меню</a></li>
                                        <li class="breadcrumbs__item -active">{{ item['type'] }}</li>
                                    {% elif item['type'] == 'Классический кофе' %}
                                        <li class="breadcrumbs__item"><a href=/coffee-menu#category-1>Меню</a></li>
                                        <li class="breadcrumbs__item -active">{{ item['type'] }}</li>
                                    {% endif %}
                                </ul>
                                <div class="drink-card__title">{{ item['name'] }}</div>
                                    <div class="drink-card__text">{{ item['description'] }}</div>
                                <div class="drink-card__items">
                                    <div class="drink-card__item">
                                        <div class="drink-card__item-title">Состав напитка</div>
                                        <ul class="list" style="max-width: initial">
                                            {% for unit in item['ingredient'] %}
                                            <li class="list__item">- {{unit}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% if session['logged_in'] %}
                                    {% if item['type'] == 'Весна-Лето 2024' %}
                                    <button class="coffee-menu-item__card-btn pink"  type="submit" style="cursor: pointer;" onclick="openPopup()" >
                                        Попробовать
                                    </button>
                                    {% elif item['type'] == 'Любимые напитки 2023' %}
                                    <button class="coffee-menu-item__card-btn red"  type="submit" style="cursor: pointer;" onclick="openPopup()" >
                                        Попробовать
                                    </button>
                                    {% elif item['type'] == 'Авторские чаи' %}
                                    <button class="coffee-menu-item__card-btn purpur"  type="submit" style="cursor: pointer;" onclick="openPopup()" >
                                        Попробовать
                                    </button>
                                    {% elif item['type'] == 'Классический кофе' %}
                                    <button class="coffee-menu-item__card-btn gray"  type="submit" style="cursor: pointer;" onclick="openPopup()" >
                                        Попробовать
                                    </button>
                                    {% endif %}
                                    <div class="popup" id="popup">
                                        <div class="check-ic" style="background-image: url(../static/images/check-mark.svg);"></div>
                                        <h3>Товар добавлен<br> в корзину</h3>
                                        <form class="basket-adder" action="/add_to_basket" method="POST">
                                        <input type="hidden" name="drink_name" value="{{ drink_name }}">
                                            <button class="blackBtn"  type="submit" style="cursor: pointer;">
                                                Перейти в корзину
                                            </button>
                                        </form>
                                        <form class="basket-adder" action="/add_to_basket_and_go_menu" method="POST">
                                        <input type="hidden" name="drink_name" value="{{ drink_name }}">
                                            <button class="closePa greyText" onclick="closePopup()">
                                                Продолжить покупки
                                            </button>
                                        </form>
                                    </div>

                                    {% else %}
                                        {% if item['type'] == 'Весна-Лето 2024' %}
                                        <a href=/login>
                                            <button  class="coffee-menu-item__card-btn pink" style="cursor: pointer;">
                                                Войти
                                            </button>
                                        </a>
                                        {% elif item['type'] == 'Любимые напитки 2023' %}
                                        <a href=/login>
                                            <button  class="coffee-menu-item__card-btn red" style="cursor: pointer;">
                                                Войти
                                            </button>
                                        </a>
                                        {% elif item['type'] == 'Авторские чаи' %}
                                        <a href=/login>
                                            <button  class="coffee-menu-item__card-btn purpur" style="cursor: pointer;">
                                                Войти
                                            </button>
                                        </a>
                                        {% elif item['type'] == 'Классический кофе' %}
                                        <a href=/login>
                                            <button  class="coffee-menu-item__card-btn gray" style="cursor: pointer;">
                                                Войти
                                            </button>
                                        </a>
                                        {% endif %}

                                    {% endif %}
                                    <div class="drink-card__item">
                                        <div class="drink-card__item-title">Энергетическая и пищевая ценность</div>
                                        <div class="tabs">
                                            {% if item['type'] == 'Весна-Лето 2024' %}
                                                <div class="tabs__item"><a href="#tab833" onclick="openbox('tab833'); return false" ><span class="pink">{{ item['small-size']['size'] }}</span></a></div>
                                                <div class="tabs__item"><a href="#tab834" onclick="openbox('tab834'); return false" class="active"><span class="pink">{{ item['mid-size']['size'] }}</span></a></div>
                                                <div class="tabs__item"><a href="#tab835" onclick="openbox('tab835'); return false"><span class="pink">{{ item['big-size']['size'] }}</span></a></div>
                                            {% elif item['type'] == 'Любимые напитки 2023' %}
                                                {% if 'small-size' in item %}
                                                <div class="tabs__item"><a href="#tab833" onclick="openbox('tab833'); return false" ><span class="red">{{ item['small-size']['size'] }}</span></a></div>
                                                {% endif %}
                                                {% if 'mid-size' in item %}
                                                <div class="tabs__item"><a href="#tab834" onclick="openbox('tab834'); return false" class="active"><span class="red">{{ item['mid-size']['size'] }}</span></a></div>
                                                {% endif %}
                                                {% if 'big-size' in item %}
                                                <div class="tabs__item"><a href="#tab835" onclick="openbox('tab835'); return false"><span class="red">{{ item['big-size']['size'] }}</span></a></div>
                                                {% endif %}
                                            {% elif item['type'] == 'Авторские чаи' %}
                                                <div class="tabs__item"><a href="#tab833" onclick="openbox('tab833'); return false" ><span class="purpur">{{ item['small-size']['size'] }}</span></a></div>
                                                <div class="tabs__item"><a href="#tab834" onclick="openbox('tab834'); return false" class="active"><span class="purpur">{{ item['mid-size']['size'] }}</span></a></div>
                                                {% if 'big-size' in item %}
                                                <div class="tabs__item"><a href="#tab835" onclick="openbox('tab835'); return false"><span class="purpur">{{ item['big-size']['size'] }}</span></a></div>
                                                {% endif %}
                                            {% elif item['type'] == 'Классический кофе' %}
                                                {% if 'small-size' in item %}
                                                <div class="tabs__item"><a href="#tab833" onclick="openbox('tab833'); return false" ><span class="gray">{{ item['small-size']['size'] }}</span></a></div>
                                                {% endif %}
                                                <div class="tabs__item"><a href="#tab834" onclick="openbox('tab834'); return false" class="active"><span class="gray">{{ item['mid-size']['size'] }}</span></a></div>
                                                {% if 'big-size' in item %}
                                                <div class="tabs__item"><a href="#tab835" onclick="openbox('tab835'); return false"><span class="gray">{{ item['big-size']['size'] }}</span></a></div>
                                                {% endif %}
                                            {% endif %}
                                             </div>
                                    {% if 'small-size' in item %}
                                    <div class="tabs-content" id="tab833" style="display: none;">
                                        <ul class="drink-card__result-info">

                                            <li><span class="name">Ккал</span><span class="data">{{ item['small-size']['kcal'] }}</span></li>
                                            <li><span class="name">Белки, г</span><span class="data">{{ item['small-size']['protein'] }}</span></li>
                                            <li><span class="name">Жиры, г</span><span class="data">{{ item['small-size']['fat'] }}</span></li>
                                            <li><span class="name">Углеводы, г</span><span class="data">{{ item['small-size']['carbohydrate'] }}</span></li>

                                        </ul>
                                    </div>
                                    {% endif %}
                                    <div class="tabs-content" id="tab834" style="display: block;">
                                        <ul class="drink-card__result-info">
                                            <li><span class="name">Ккал</span><span class="data">{{ item['mid-size']['kcal'] }}</span></li>
                                            <li><span class="name">Белки, г</span><span class="data">{{ item['mid-size']['protein'] }}</span></li>
                                            <li><span class="name">Жиры, г</span><span class="data">{{ item['mid-size']['fat'] }}</span></li>
                                            <li><span class="name">Углеводы, г</span><span class="data">{{ item['mid-size']['carbohydrate'] }}</span></li>
                                        </ul>
                                    </div>
                                    {% if 'big-size' in item %}
                                    <div class="tabs-content" id="tab835" style="display: none;">
                                        <ul class="drink-card__result-info">
                                            <li><span class="name">Ккал</span><span class="data">{{ item['big-size']['kcal'] }}</span></li>
                                            <li><span class="name">Белки, г</span><span class="data">{{ item['big-size']['protein'] }}</span></li>
                                            <li><span class="name">Жиры, г</span><span class="data">{{ item['big-size']['fat'] }}</span></li>
                                            <li><span class="name">Углеводы, г</span><span class="data">{{ item['big-size']['carbohydrate'] }}</span></li>
                                        </ul>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% endfor %}
        </main>

        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Продукты
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="coffee-menu.html" class="footer__menu-link">
                                Кофе
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="specials.html" class="footer__menu-link">
                                Предложения
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Мерч
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Ресурсы
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Блог
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="faq.html" class="footer__menu-link">
                                FAQ
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="contact.html" class="footer__menu-link">
                                Связаться с нами
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Работать с нами
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="franchise.html" class="footer__menu-link">
                                Франшиза
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="bartenders.html" class="footer__menu-link">
                                Бариста
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                О Roast&Run
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="aboutus.html" class="footer__menu-link">
                                О нас
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Команда
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Карьера
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="../static/images/appstore.svg" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="../static/images/googleplay.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p style="padding-bottom: 25px;" class="footer__copy-text">
                        По вопросам об услуге покупки кофе Roast&Run звоните по телефону 1-888-878-3227. Сертифицированные бариста по контракту обязаны с Roast&Run выполнять определенные требования по обслуживанию клиентов и проходить программу сертификации бариста Roast&Run.
                    </p>
                    <p class="footer__copy-text">
                        Roast&Run не занимается брокерской деятельностью, продажей и арендой кофейных зерен. Если не указано иное, все напитки, представленные на этом сайте, предлагаются для продажи в лицензированных кофейнях. Все напитки подлежат предварительной продаже. Заходя на этот веб-сайт, вы соглашаетесь с Условиями обслуживания и Политикой конфиденциальности Roast&Run.
                    </p>
                </div>
                <nav style="padding-bottom: 25px;" class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href="terms-of-service.html" class="copy__nav-link">
                                Условия использования
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="privacy-policy.html" class="copy__nav-link slide-out">
                                Политика конфиденциальности
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="cookies.html" class="copy__nav-link">
                                Не продавайте мою личную информацию
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
    <script src="../static/js/menu-popUp.js"></script>
    <script src="../static/js/menu-item-info-switcher.js"></script>
</body>
</html>