<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roast&Run</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/logo_all_black_small.svg"/>
</head>
<body>
    <div class="wrapper">
        <header class="header-specials">
            <div class="container">
                <div class="header-specials__item">
                    <a href=/specials class="specials__back" >ᐸ</a>
                    <p class="specials__back-title">Акции сети кофеен Roast&Run</p>
                </div>
                
            </div>
        </header>


        <main class="main slide-in">
            
            <section class="special__info">
                <div class="container">
                    <div class="special__info__inner">
                        <img src="../static/images/specials/spec-3.jpg" alt="" class="special__info-img">
                        <h2 class="section-title special__info-title">Скидка 10% на ваш стакан</h2>
                        <p class="special__info-text">Экологичность – тренд, который никогда не теряет своей актуальности! В каждой кофейне сети действует скидка 10% на напитки в собственном стакане. Приятный бонус для тех, кто практикует многоразовое использование.</p>
                        <p class="special__info-text">Обязательно сообщите бариста при заказе, что напиток нужно готовить в вашем стакане.</p>
                        <p class="special__info-text">У нас вы также можете приобрести многоразовые чашки Stojo и Ecooffee 🙌🏻.</p>
                    </div>
                </div>
            </section>
        </main>

        
    </div>
</body>
</html>