<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roast&Run</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/logo_all_black_small.svg"/>
</head>
<body>
    <div class="wrapper">
        <header class="header-specials">
            <div class="container">
                <div class="header-specials__item">
                    <a href=/specials class="specials__back" >ᐸ</a>
                    <p class="specials__back-title">Акции сети кофеен Roast&Run</p>
                </div>
                
            </div>
        </header>


        <main class="main slide-in">
            <section class="special__info">
                <div class="container">
                    <div class="special__info__inner">
                        <img src="../static/images/specials/spec-1.jpg" alt="" class="special__info-img">
                        <h2 class="section-title special__info-title">Платите сколько хотите за кофе</h2>
                        <p class="special__info-text">Традиционная акция в день официального открытия — «За кофе плати сколько хочешь»..”</p>
                        <p class="special__info-text">Один человек может выпить только один напиток. Воспользоваться предложением можно после подписки на Инстаграм кофейни..</p>
                        <p class="special__info-text">Напитки, включенные в акцию:</p>
                        <ul class="special__info-list">
                            <li class="special__info-list__item">📌 Эспрессо</li>
                            <li class="special__info-list__item">📌 Американо</li>
                            <li class="special__info-list__item">📌 Капучино</li>
                            <li class="special__info-list__item">📌 Латте</li>
                            <li class="special__info-list__item">📌 Флэт Уайт</li>
                            <li class="special__info-list__item">📌 Раф</li>
                            <li class="special__info-list__item">📌 Какао</li>
                            <li class="special__info-list__item">📌 горячий шоколад</li>
                        </ul>
                        <p class="special__info-text">Авторские напитки, холодные и сезонные не включены.</p>
                        <p class="special__info-text">Предложение действительно только в день официального открытия кофейни. Следите за новостями, чтобы не пропустить акцию!</p>
                    </div>
                </div>
            </section>
        </main>

        
    </div>
</body>
</html>