<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roast&Run</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/logo_all_black_small.svg"/>
</head>
<body>
    <div class="wrapper fade-in">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href=/ class="logo">
                        <img src="../static/images/logo_all_black_small.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href=/aboutus class="menu__list-link">
                                    Компания
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/coffee-menu class="menu__list-link">
                                    Меню
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/specials class="menu__list-link">
                                    Акции
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Франшиза
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/bartenders class="menu__list-link">
                                    Работа
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <a href=/login class="menu__list-link">
                        <img src="../static/images/profile-img.svg" alt="" class="profile-logo__img">
                    </a>

                </div>
            </div>
        </header>


        <main class="main">
            <section class="prespecials">
                <div class="container">
                    <h2 class="section-title specials__title">АКЦИИ И НОВОСТИ RAST&RUN</h2>
                    
                </div>
            </section>
           <section class="specials">
                <div class="container">             
                    <div class="specials__items">
                        <div class="specials__item">
                            <a href=/specials/specials-1>
                            <img src="../static/images/specials/spec-1.jpg" alt="" class="specials__item-img">
                            <h4 class="specials__item-title">Платите сколько хотите за кофе</h4>
                            <p class="specials__item-text">Один человек может выпить только один напиток. Воспользоваться предложением можно после подписки на Инстаграм кофейни.</p>
                            <a href="#" class="specials__item-link">Подробнее</a>
                            </a>    

                        </div>
                        <div class="specials__item">
                            <a href=/specials/specials-2>
                            <img src="../static/images/specials/spec-2.jpg" alt="" class="specials__item-img">
                            <h4 class="specials__item-title">Третья чашка кофе с собой - в подарок</h4>
                            <p class="specials__item-text">Специальное предложение действует в течение месяца с момента тестового открытия кофейни.</p>
                            <a href="#" class="specials__item-link">Подробнее</a>
                            </a>
                        </div>
                        <div class="specials__item">
                            <a href=/specials/specials-3>
                            <img src="../static/images/specials/spec-3.jpg" alt="" class="specials__item-img">
                            <h4 class="specials__item-title">Скидка 10% на кофе в ваш стакан</h4>
                            <p class="specials__item-text">В каждой кофейне сети действует скидка 10% на напитки в собственном стакане.</p>
                            <a href="#" class="specials__item-link">Подробнее</a>
                            </a>    
                        </div>

                    </div>
                </div>
           </section>
        </main>

        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Продукты
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/coffee-menu class="footer__menu-link">
                                Кофе
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/specials class="footer__menu-link">
                                Предложения
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Ресурсы
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Блог
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/faq class="footer__menu-link">
                                FAQ
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/contact class="footer__menu-link">
                                Связаться с нами
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Работать с нами
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Франшиза
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/bartenders class="footer__menu-link">
                                Бариста
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                О Roast&Run
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/aboutus class="footer__menu-link">
                                О нас
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=# class="footer__menu-link">
                                Команда
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Карьера
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="../static/images/appstore.svg" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="../static/images/googleplay.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p style="padding-bottom: 25px;" class="footer__copy-text">
                        По вопросам об услуге покупки кофе Roast&Run звоните по телефону 1-888-878-3227. Сертифицированные бариста по контракту обязаны с Roast&Run выполнять определенные требования по обслуживанию клиентов и проходить программу сертификации бариста Roast&Run.
                    </p>
                    <p class="footer__copy-text">
                        Roast&Run не занимается брокерской деятельностью, продажей и арендой кофейных зерен. Если не указано иное, все напитки, представленные на этом сайте, предлагаются для продажи в лицензированных кофейнях. Все напитки подлежат предварительной продаже. Заходя на этот веб-сайт, вы соглашаетесь с Условиями обслуживания и Политикой конфиденциальности Roast&Run.
                    </p>
                </div>
                <nav style="padding-bottom: 25px;" class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href=/terms-of-service class="copy__nav-link">
                                Условия использования
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href=/privacy-policy class="copy__nav-link slide-out">
                                Политика конфиденциальности
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href=/cookies class="copy__nav-link">
                                Не продавайте мою личную информацию
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
</body>
</html>