<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roast&Run</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="wrapper">
        <header class="header header-main" style="filter: invert(100%);">
            <div class="container">
                <div class="header__inner">
                    <a href="../index.html" class="logo">
                        <img src="../images/logo_all_black_small.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href="../aboutus.html" class="menu__list-link">
                                    Company
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="../coffee-menu.html" class="menu__list-link">
                                    Coffee
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="../test.html" class="menu__list-link">
                                    Something
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="../franchise.html" class="menu__list-link">
                                    Franchise
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="../bartenders.html" class="menu__list-link">
                                    Work
                                </a>
                            </li>   
                        </ul>
                    </nav>
                </div>
            </div>
        </header>


        <main class="main">
            <section class="page drink-card">
                <div class="container-upgrade">
                    <div class="drink-card__wrap">
                        <div class="drink-card__image"> <div class="scale"> <img src="../images/coffee-menu/classic-coffee/flat-white.jpg" alt="image"></div></div>
                            <div class="drink-card__content">
                                <ul class="breadcrumbs">
                                    <li class="breadcrumbs__item"><a href="../coffee-menu.html#category-1">Menu</a></li>
                                    <li class="breadcrumbs__item -active">Classic drinks</li>
                                </ul>
                                <div class="drink-card__title">Flat White</div>
                                <div class="drink-card__text">Flat white is the richest-tasting espresso-based milk drink. It is especially loved by connoisseurs of the taste of espresso in a cup. Flat white is a great option for those who love a bright coffee taste, but cannot drink coffee without milk.</div>
                                <div class="drink-card__items">
                                    <div class="drink-card__item">
                                        <div class="drink-card__item-title">Composition of the drink</div>
                                        <ul class="list" style="max-width: initial">
                                            <li class="list__item">- espresso</li>
                                            <li class="list__item">- milk</li>
                                        </ul>
                                    </div>
                                    <div class="drink-card__item">
                                        <div class="drink-card__item-title">Energy and nutritional value</div>
                                        <div class="tabs">
                                            <div class="tabs__item"><a href="#tab832" onclick="openbox('tab832'); return false"><span class="gray">S</span></a></div>
                                            <div class="tabs__item"><a href="#tab834" onclick="openbox('tab834'); return false" class="active"><span class="gray">L</span></a></div>
                                        </div>
                                    <div class="tabs-content" id="tab832" style="display: none;">
                                        <ul class="drink-card__result-info">
                                            <li><span class="name">Kcal</span><span class="data">92</span></li>
                                            <li><span class="name">Proteins, g</span><span class="data">5</span></li>
                                            <li><span class="name">Fats, g</span><span class="data">5</span></li>
                                            <li><span class="name">Carbohydrates, g</span><span class="data">8</span></li>
                                        </ul>
                                    </div>
                                
                                    <div class="tabs-content" id="tab834" style="display: block;">
                                        <ul class="drink-card__result-info">
                                            <li><span class="name">Kcal</span><span class="data">166</span></li>
                                            <li><span class="name">Proteins, g</span><span class="data">9</span></li>
                                            <li><span class="name">Fats, g</span><span class="data">9</span></li>
                                            <li><span class="name">Carbohydrates, g</span><span class="data">14</span></li>
                                        </ul>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Products
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="../coffee-menu.html" class="footer__menu-link">
                                Coffee
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="../specials.html" class="footer__menu-link">
                                Specials
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Merch
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Resources
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Blog
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="../faq.html" class="footer__menu-link">
                                FAQ
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="../contact.html" class="footer__menu-link">
                                Contact us
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Work with US
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="../franchise.html" class="footer__menu-link">
                                Franchise
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="../bartenders.html" class="footer__menu-link">
                                Bartenders
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                About
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="../aboutus.html" class="footer__menu-link">
                                About us
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Team
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Careers
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="../images/appstore.svg" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="../images/googleplay.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p class="footer__copy-text">
                        For questions about the Roast&Run Coffee Buying Service please call 1-888-878-3227, Certified Baristas are contractually obligated by Roast&Run to meet certain customer service requirements and complete the Roast&Run Barista Certification Program.
                    </p>
                    <p class="footer__copy-text">
                        Roast&Run does not broker, sell, or lease coffee beans. Unless otherwise noted, all beverages shown on this website are offered for sale by licensed coffee shops. All drinks are subject to prior sale. By accessing this website, you agree to the Roast&Run Terms of Service and Privacy Policy
                    </p>
                </div>
                <nav class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href="../terms-of-service.html" class="copy__nav-link">
                                Terms of Service
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="../privacy-policy.html" class="copy__nav-link">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href="../coffee-menu.html" class="copy__nav-link">
                                Do Not Sell My Personal Information
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>  
    </div>
    <script src="../js/main.js"></script>
</body>
</html>