<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roast&Run</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/logo_all_black_small.svg"/>


</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href=/ class="logo">
                        <img src="../static/images/logo_all_black_small.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href=/aboutus class="menu__list-link">
                                    Компания
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/coffee-menu class="menu__list-link">
                                    Меню
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/specials class="menu__list-link">
                                    Акции
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Франшиза
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/bartenders class="menu__list-link">
                                    Работа
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <a href=/login class="menu__list-link">
                        <img src="../static/images/profile-img.svg" alt="" class="profile-logo__img">
                    </a>

                </div>
            </div>
        </header>


        <main class="main">
            <section class="section">
                <div class="block-scroll">
                    <div class="block-scroll__items">
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-1.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">ТОП 10</div>
                                <div class="block-scroll__text">Попадание в 10-ку лучших стартапов малого предпринимательства по мнению Forbes в 2015г.</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-2.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">1 место</div>
                                <div class="block-scroll__text">Шеф-бариста Сети Юрий Фомин получил Национальную премию «Бариста года 2018»</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-3.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">РАФ 2018г</div>
                                <div class="block-scroll__text">получение сертификата РАФ — Российской Ассоциации Франчайзинга. </div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-4.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">40% рынка</div>
                                <div class="block-scroll__text">в сегменте "кофе с собой" в 2018г по данным Discovery Research Group. </div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-5.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">SCA 2018</div>
                                <div class="block-scroll__text">Roast&Run вступил в SCA — международное сообщество профессионалов в области кофе.</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-6.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">3 место</div>
                                <div class="block-scroll__text">и приз зрительских симпатий на Russian Coffee Cup 2019.</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-7.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">8 место</div>
                                <div class="block-scroll__text">в рейтинге ритейл-франшиз за 2022 год по данным Компании EMTG.</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-8.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">2 млн</div>
                                <div class="block-scroll__text">пользователей в программе лояльности Roast&Run</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-9.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">10 лет</div>
                                <div class="block-scroll__text">компании в 2023 году</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-10.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">100 кофе баров</div>
                                <div class="block-scroll__text">у самого крупного партнера-франчайзи сети Roast&Run.</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-11.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">1000 кофе баров</div>
                                <div class="block-scroll__text">в сети Roast&Run</div>
                            </div>
                        </div>
                        <div class="block-scroll__item">
                            <div class="block-scroll__img"> <img src="../static/images/aboutUs/scroll-pannel/about-sp-12.jpg" alt="image"></div>
                            <div class="block-scroll__content">
                                <div class="block-scroll__title">№ 1</div>
                                <div class="block-scroll__text">По данным рейтинга BuyBrand и Коммерсантъ в 2023 году.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <h2 class="section-title about__title">
                Путь Roast&Run
            </h2>  
            <div class="container-upgrade">
                <div class="about-us__items">
                    <div class="about-item">
                        <div class="about-item__line about-item__line_mob" style="background-color: #38220f;"></div>
                        <div class="about-item__image">
                            <div class="image-card">
                                <div class="image-card__img"><img src="../static/images/aboutUs/about-1.jpg" alt="image"></div>
                                <div class="image-card__content">
                                    <div class="image-card__title">Roast&Run</div>
                                    <div class="image-card__subtitle">Дом кофе, который вы любите</div>
                                    <div class="image-card__text">
                                        <p>
                                            От тщательно отобранных зерен до уютной атмосферы — Roast&Run стремится предоставить нашим клиентам лучшие впечатления от кофе. Наша кофейня — это больше, чем просто место, где можно насладиться кофе, это сообщество, где можно расслабиться, восстановить силы и насладиться простыми радостями жизни.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-item__content">
                            <div class="about-item__line about-item__line_desc" style="background-color: #38220f;"></div>
                            <div class="about-item__title">2023 – 2024 – 2025</div>
                            <div class="about-item__text">
                                <p>Первые поглощения других сетей нашей компанией.</p>
                                <p>Укрупнения партнеров внутри сетей.</p>
                                <p>Первый партнер со 100 кофе-барами.</p>
                                <p>1000 кофе баров в нашей сети. Первые на рынке России.</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about-item__line about-item__line_mob" style="background-color: rgba(56,34,15, 0.80);"></div>
                        <div class="about-item__content">
                            <div class="about-item__line about-item__line_desc" style="background-color: rgba(56,34,15, 0.80);"></div>
                            <div class="about-item__title">2020 – 2021 – 2022</div>
                            <div class="about-item__text">
                                <p>Прошли пандемию.</p>
                                <p>Запустили собственную обжарку кофейного зерна совместно с лидером рынка – Tasty Coffee и его собственником Михаилом Шаровым.</p>
                                <p>Запустили первую федеральную коллаборацию со звездами.</p>
                                <p>Запуск мобильного приложения.</p>
                                <p>920 кофе баров в 136 городах России и СНГ.</p>
                                <p>Средняя выручка на один кофе-бар 437 тыс. рублей в месяц.</p>
                                <p>Выручка сети за 22 год – 4,3 млрд рублей.</p>
                            </div>
                        </div>
                        <div class="about-item__image">
                            <div class="image-card">
                                <div class="image-card__img"><img src="../static/images/aboutUs/about-2.jpg" alt="image"></div>
                                <div class="image-card__content">
                                    <div class="image-card__title">Татьяна Кузнецова</div>
                                    <div class="image-card__subtitle">Исполнительный директор компании</div>
                                    <div class="image-card__text">
                                        <p>
                                            «В апреле и мае 2020 года было непросто, тогда мы взяли курс на усиление устойчивости компании. Мы перезаключили договоры с партнерами, расторгли старый и ввели новую систему лояльности. Мы поменяли тренировочную платформу на более мощную. Мы работали над проектами. И динамика пошла вверх. Это было время трансформации».
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about-item__line about-item__line_mob" style="background-color: rgba(56,34,15, 0.60);"></div>
                        <div class="about-item__image">
                            <div class="image-card">
                                <div class="image-card__img"><img src="../static/images/aboutUs/about-3.jpg" alt="image"></div>
                                <div class="image-card__content">
                                    <div class="image-card__title">Павел Гришков</div>
                                    <div class="image-card__subtitle">Директор Издательского дома АСТ, владелец Roast&Run</div>
                                    <div class="image-card__text">
                                        <p>
                                           «В 2017 году мне и моим партнерам предложили купить долю в компании Roast&Run. Это была наша первая инвестиция в непрофильные активы. Оценив новый для нас рынок, мы пришли к выводу, что и рынок, и компания имеют нереализованный потенциал. Проделанная работа помогла нам принять стратегическое решение о выкупе 100% компании у ее учредителей. С 2018 года, сменив руководство компании и перестроив часть бизнес-процессов, мы добились стабильного роста результатов. Сегодня я с оптимизмом смотрю в будущее и надеюсь, что открытие 1000-й кофейни станет значимым шагом в росте и узнаваемости нашей компании».
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-item__content">
                            <div class="about-item__line about-item__line_desc" style="background-color: rgba(56,34,15, 0.60);"></div>
                            <div class="about-item__title">2017 – 2018 – 2019</div>
                            <div class="about-item__text">
                                <p>Ввели новый формат кофе-бара – фудтрак.</p>
                                <p>Мы открыли Торговый Дом Roast&Run - централизованный центр закупок и обработки заказов от партнеров-франчайзи.</p>
                                <p>В 2018 году основатель сети Аяз Шабутдинов оставил компанию, продав ее совладельцам и топ-менеджерам книжного издательства АСТ. Управляющим партнером компании стал Антон Макаров.</p>
                                <p>Прирост кофебаров - 454 за 3 года.</p>
                                <p>715 кофе баров на конец 2019 года.</p>
                                <p>Выручка сети 2,3 млрд рублей.</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about-item__line about-item__line_mob" style="background-color: rgba(56,34,15, 0.40);"></div>
                        <div class="about-item__content">
                            <div class="about-item__line about-item__line_desc" style="background-color: rgba(56,34,15, 0.40);"></div>
                            <div class="about-item__title">2014 – 2015 – 2016</div>
                            <div class="about-item__text">
                                <p>Запустили тайного гостя.</p>
                                <p>Собрали Базу Знаний - 137 обучающих статей.</p>
                                <p>Провели первый редизайн кофе баров.</p>
                                <p>Создали онлайн Академию для партнеров и их бариста.</p>
                                <p>Провели первый чемпионат бариста на слете партнеров в Сочи.</p>
                                <p>Открыли полноформатную кофейню.</p>
                                <p>Создали свою горячую линию для поддержки гостей.</p>
                                <p>261 кофе–бар.</p>
                                <p>Средняя выручка одного кофе-бара 204 000 рублей.</p>
                                <p>Средний чек — 134 рублей.</p>
                            </div>
                        </div>
                        <div class="about-item__image">
                            <div class="image-card">
                                <div class="image-card__img"><img src="../static/images/aboutUs/about-4.jpg" alt="image"></div>
                                <div class="image-card__content">
                                    <div class="image-card__title">Никита Семиларский</div>
                                    <div class="image-card__subtitle">Партнер-франчайзи, город Киров</div>
                                    <div class="image-card__text">
                                        <p>
                                            «Я помню в 2014-2015 первые кофе-бары бело-зеленого цвета, их объединял только цвет. В остальном строили кто из чего мог. И когда появился первый брендбук и новый дизайн — это стало похоже на франшизу. Мы одни из первых сделали павильон в новом дизайне, выручка выросла, ну и дальше наш дизайн стали копировать все.
                                        </p>
                                        <p>
                                            В 2016 появились первые стандарты работы и сервиса и отдел по оценке качества. Это позволило начать большую работу над качеством и соблюдением стандартов по сети. Мы даже несколько раз занимали первые места в рейтинге и выигрывали кофемолку или запас зерна.»

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="about-item__line about-item__line_mob" style="background-color: rgba(56,34,15, 0.20);"></div>
                        <div class="about-item__image">
                            <div class="image-card">
                                <div class="image-card__img"><img src="../static/images/aboutUs/about-5.jpg" alt="image"></div>
                                <div class="image-card__content">
                                    <div class="image-card__title">Антон Макаров</div>
                                    <div class="image-card__subtitle">Cобственник компании Roast&Run, управляющий партнер</div>
                                    <div class="image-card__text">
                                        <p>
                                            «Я помню этот первый кофе-бар в Ижевске у нашего Университета — он был похож на стаканчик. Я смотрел тогда на ребят и думал — ну что за авантюра? А на самом деле тогда Coffee Like начинал революцию кофейного рынка и кофейного потребления. Мне тогда и в голову не могло прийти, что в 2018 мы выкупим компанию у Аяза с моими партнерами».
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-item__content">
                            <div class="about-item__line about-item__line_desc" style="background-color: rgba(56,34,15, 0.20);"></div>
                            <div class="about-item__title">2013</div>
                            <div class="about-item__text">
                                <p>Разработали первый дизайн кофе бара в виде стакана.</p>
                                <p>Разработали первое меню напитков.</p>
                                <p>Открыли первый кофе-бар в своей рознице.</p>
                                <p>Запустили для гостей первую акцию — «Приведи друга».</p>
                                <p>Запустили первыми в России бонусную программу — 6й стакан в подарок.</p>
                                <p>Подписали договор с первым франчайзи.</p>
                                <p>Цена капучино обьем 0,2 – 80 рублей.</p>
                                <p>Средний чек 85 рублей.</p>
                                <p>5 человек в Управляющей компании.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Продукты
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/coffee-menu class="footer__menu-link">
                                Кофе
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/specials class="footer__menu-link">
                                Предложения
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Ресурсы
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Блог
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/faq class="footer__menu-link">
                                FAQ
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/contact class="footer__menu-link">
                                Связаться с нами
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Работать с нами
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Франшиза
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/bartenders class="footer__menu-link">
                                Бариста
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                О Roast&Run
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/aboutus class="footer__menu-link">
                                О нас
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=# class="footer__menu-link">
                                Команда
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Карьера
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="../static/images/appstore.svg" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="../static/images/googleplay.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p style="padding-bottom: 25px;" class="footer__copy-text">
                        По вопросам об услуге покупки кофе Roast&Run звоните по телефону 1-888-878-3227. Сертифицированные бариста по контракту обязаны с Roast&Run выполнять определенные требования по обслуживанию клиентов и проходить программу сертификации бариста Roast&Run.
                    </p>
                    <p class="footer__copy-text">
                        Roast&Run не занимается брокерской деятельностью, продажей и арендой кофейных зерен. Если не указано иное, все напитки, представленные на этом сайте, предлагаются для продажи в лицензированных кофейнях. Все напитки подлежат предварительной продаже. Заходя на этот веб-сайт, вы соглашаетесь с Условиями обслуживания и Политикой конфиденциальности Roast&Run.
                    </p>
                </div>
                <nav style="padding-bottom: 25px;" class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href=/terms-of-service class="copy__nav-link">
                                Условия использования
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href=/privacy-policy class="copy__nav-link slide-out">
                                Политика конфиденциальности
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href=/cookies class="copy__nav-link">
                                Не продавайте мою личную информацию
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
</body>
</html>