<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roast&Run</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/logo_all_black_small.svg"/>
</head>
<body>
    <div class="wrapper">
        <header class="header-specials">
            <div class="container">
                <div class="header-specials__item">
                    <a href=/specials class="specials__back" >ᐸ</a>
                    <p class="specials__back-title">Акции сети кофеен Roast&Run</p>
                </div>
                
            </div>
        </header>


        <main class="main slide-in">
            <section class="special__info">
                <div class="container">
                    <div class="special__info__inner">
                        <img src="../static/images/specials/spec-2.jpg" alt="" class="special__info-img">
                        <h2 class="section-title special__info-title">Третий кофе в подарок</h2>
                        <p class="special__info-text">В день тестового открытия новой кофейни Roast&Run стартует наша постоянная акция «Третий кофе в подарок».</p>
                        <ul class="special__info-list">
                            <li class="special__info-list__item"> – акция активируется через приложение Roast&Run;</li>
                            <li class="special__info-list__item"> – заказ должен быть оформлен на одного человека;</li>
                            <li class="special__info-list__item"> – акция распространяется на напитки основного меню; сезонные напитки не накапливаются и не списываются;</li>
                            <li class="special__info-list__item"> – сезонные напитки не накапливаются и не списываются;</li>
                        </ul>
                        <p class="special__info-text">Специальное предложение действует в течение месяца со дня тестового открытия кофейни..</p>
                        <p class="special__info-text">Какие кофейни сейчас проводят данную акцию?</p>
                        <ul class="special__info-list">
                            <li class="special__info-list__item"> ул. Долгобродская, 16;</li>
                            <li class="special__info-list__item"> ул. Матусевича, 70;</li>
                            <li class="special__info-list__item"> бульвар Юности, 59;</li>
                            <li class="special__info-list__item"> Борисов, пр-т Революции, 32;</li>
                        </ul>
                        <p class="special__info-text">Ждем вас в гости на 3-й бесплатный кофе!</p>
                    </div>
                    

                </div>
            </section>
        </main>

        
    </div>
</body>
</html>