<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roast&Run</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/logo_all_black_small.svg"/>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href=/ class="logo">
                        <img src="../static/images/logo_all_black_small.svg" alt="" class="logo__img">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a href=/aboutus class="menu__list-link">
                                    Компания
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/coffee-menu class="menu__list-link">
                                    Меню
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/specials class="menu__list-link">
                                    Акции
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href="#" class="menu__list-link">
                                    Франшиза
                                </a>
                            </li>
                            <li class="menu__list-item">
                                <a href=/bartenders class="menu__list-link">
                                    Работа
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <a href=/login class="menu__list-link">
                        <img src="../static/images/profile-img.svg" alt="" class="profile-logo__img">
                    </a>

                </div>
            </div>
        </header>


        <main class="main">
            <section class="terms-of-service">
                <div class="container">
                    <h2 class="section-title terms-of-service__title">
                        УСЛОВИЯ ИСПОЛЬЗОВАНИЯ
                    </h2>
                    <p class="terms-of-service__text">
                        Мы осознаем важность конфиденциальности информации. В этом документе описывается, какую личную информацию мы получаем и собираем, когда вы используете сайт. Мы надеемся, что эта информация поможет вам принять обоснованные решения относительно личной информации, которую вы нам предоставляете.
                    </p>
                    <ul class="terms-of-service__list">
                        <li class="terms-of-service__item">
                            <h4 class="terms-of-service__list-title">
                                Публичная информация
                            </h4>
                            <p class="terms-of-service__list-text">
                                Если вы просто просматриваете сайт, информация о вас не собирается и не публикуется на сайте.
                            </p>
                        </li>
                        <li class="terms-of-service__item">
                            <h4 class="terms-of-service__list-title">
                                Какую информацию мы собираем?
                            </h4>
                            <p class="terms-of-service__list-text">
                                Мы собираем информацию об имени, телефоне и электронной почте только от тех посетителей нашего сайта, которые заполняют любую из форм на нашем сайте.
                            </p>
                        </li>
                        <li class="terms-of-service__item">
                            <h4 class="terms-of-service__list-title">
                                Как мы используем данные, которые собираем?
                            </h4>
                            <p class="terms-of-service__list-text">
                                Ваше добровольное согласие оставить свое имя, номер телефона и адрес электронной почты подтверждается путем ввода имени, номера телефона и/или адреса электронной почты в соответствующую форму. Информация, собранная после отправки формы на сайте (а именно: имя, номер телефона), нигде не публикуется и не доступна другим посетителям сайта. Имя используется для обращения лично к Вам, а номер телефона – для уточнения вопросов. Если нам потребуется использовать ваши данные для целей, не упомянутых в настоящей политике конфиденциальности, мы всегда будем запрашивать ваше предварительное согласие на это.
                            </p>
                        </li>
                        <li class="terms-of-service__item">
                            <h4 class="terms-of-service__list-title">
                                Условия обработки и ее передачи третьим лицам.
                            </h4>
                            <p class="terms-of-service__list-text">
                                Ваше Имя и номер телефона никогда и ни при каких обстоятельствах не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства. Ведение журнала Каждый раз, когда вы посещаете сайт, наши серверы автоматически записывают информацию, которую ваш браузер передает при посещении веб-страниц. Обычно эта информация включает в себя запрошенную вами веб-страницу, IP-адрес компьютера, тип браузера, языковые настройки браузера, дату и время запроса, а также один или несколько файлов cookie, которые могут конкретно идентифицировать ваш браузер.
                            </p>
                        </li>
                        <li class="terms-of-service__item">
                            <h4 class="terms-of-service__list-title">
                                Cookies
                            </h4>
                            <p class="terms-of-service__list-text">
                                Сайт использует файлы cookie и собирает данные о посетителях с помощью сервисов Яндекс Метрики. Эти данные используются для сбора информации о действиях посетителей на сайте, для улучшения качества его контента и возможностей. В любой момент вы можете изменить настройки вашего браузера, чтобы браузер перестал сохранять все файлы cookie, а также уведомлял вас об их отправке. Обратите внимание, что в этом случае некоторые сервисы и функции могут перестать работать.
                            </p>
                        </li>
                    </ul>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="container">
                <nav class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Продукты
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/coffee-menu class="footer__menu-link">
                                Кофе
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/specials class="footer__menu-link">
                                Предложения
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Ресурсы
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Блог
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/faq class="footer__menu-link">
                                FAQ
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/contact class="footer__menu-link">
                                Связаться с нами
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                Работать с нами
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Франшиза
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/bartenders class="footer__menu-link">
                                Бариста
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <p class="footer__menu-title">
                                О Roast&Run
                            </p>
                        </li>
                        <li class="footer__menu-item">
                            <a href=/aboutus class="footer__menu-link">
                                О нас
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href=# class="footer__menu-link">
                                Команда
                            </a>
                        </li>
                        <li class="footer__menu-item">
                            <a href="#" class="footer__menu-link">
                                Карьера
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="app">
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="../static/images/appstore.svg" alt="">
                        </a>
                    </li>
                    <li class="app__item">
                        <a href="#" class="app__item-link">
                            <img class="app_item-img" src="../static/images/googleplay.svg" alt="">
                        </a>
                    </li>
                </ul>
                <div class="footer__copy">
                    <p style="padding-bottom: 25px;" class="footer__copy-text">
                        По вопросам об услуге покупки кофе Roast&Run звоните по телефону 1-888-878-3227. Сертифицированные бариста по контракту обязаны с Roast&Run выполнять определенные требования по обслуживанию клиентов и проходить программу сертификации бариста Roast&Run.
                    </p>
                    <p class="footer__copy-text">
                        Roast&Run не занимается брокерской деятельностью, продажей и арендой кофейных зерен. Если не указано иное, все напитки, представленные на этом сайте, предлагаются для продажи в лицензированных кофейнях. Все напитки подлежат предварительной продаже. Заходя на этот веб-сайт, вы соглашаетесь с Условиями обслуживания и Политикой конфиденциальности Roast&Run.
                    </p>
                </div>
                <nav style="padding-bottom: 25px;" class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href=/terms-of-service class="copy__nav-link">
                                Условия использования
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href=/privacy-policy class="copy__nav-link slide-out">
                                Политика конфиденциальности
                            </a>
                        </li>
                        <li class="copy__nav-item">
                            <a href=/cookies class="copy__nav-link">
                                Не продавайте мою личную информацию
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
</body>
</html>